#professional-challenges {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 800px;
}

#professional-challenges h2{
  font-weight: 700;
}
#professional-challenges p{
  font-weight: 400 !important;
  line-height: 1.2em;
}

#professional-challenges img {
  margin: 2rem 0;
  width:100%;
  height:auto;
}
